/*
---------------------------------
Variables
---------------------------------
*/

:root {
  --primary: #ff8ba7;
  --secondary: #ffc6c7;
  --tertiary: #c3f0ca;
  --background: #faeee7;

  --headline: #33272a;
  --paragraph: #594a4e;
  --stroke: #33272a;

  --radius: 0.25rem;
  --fixed-width: 620px;
  --max-width: 1170px;
}

/*
---------------------------------
Global Styles
---------------------------------
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
} /*16px*/

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--background);
  color: var(--headline);
  line-height: 1.5;
  font-size: 0.875rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 1.38rem;
  font-weight: 500;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

ul {
  list-style-type: none;
}

a {
  list-style-type: none;
}
p {
  margin-bottom: 1rem;
  color: var(--paragraph);
}

/*
-----------------
  Markdown
-----------------
*/

.markdown {
  padding: 4rem;
  display: grid;
  row-gap: 2rem;
}

.input {
  min-height: 30vh;
  border-radius: var(--radius);
  font-size: 1.1rem;
  border: solid var(--stroke);
  padding: 1rem 2rem;
}

@media screen and (min-width: 992px) {
  .markdown {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}

.markdown-preview {
  padding: 1rem 2rem;
}

blockquote {
  font-size: 2rem;
  font-style: italic;
  border-left: 5px solid var(--paragraph);
  color: var(--paragraph);
  padding-left: 2rem;
  line-height: 2;
  margin-bottom: 1.5rem;
}
blockquote ::first-letter {
  text-transform: uppercase;
}
pre {
  background: #222;
  display: inline-block;
  border-radius: var(--radius);
  padding: 1rem 2rem;
  color: red;
  margin-bottom: 1.5rem;
}
